<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-text" style="color: lightgray">
                <span th:text="${userInfo.username}" style="color: white"></span>
                with Roles:
                <span th:each="role : ${userInfo.roles}">
                <span th:text="${role.getName().substring(5)}"></span>
            </span></span>
        <a class="nav-link" href="/logout" style="color: dimgray">Logout</a>
    </nav>


    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-0 bg-white">
                <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100">
                    <div th:each="role : ${userInfo.roles}" class="d-block w-100">
                        <div th:switch="${role.getName()}">
                            <a th:case="'ROLE_USER'" href="/user" class="bg-primary d-block text-white w-100 pl-2">User</a>
                            <a th:case="'ROLE_ADMIN'" href="/admin" class="bg-white d-block text-primary w-100 pl-2">Admin</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="background-color: whitesmoke">
                <h1>User Information Page</h1>
                <div>
                    About user
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:utext="${userInfo.id}"></td>
                        <td th:utext="${userInfo.firstName}"></td>
                        <td th:utext="${userInfo.lastName}"></td>
                        <td th:utext="${userInfo.age}"></td>
                        <td th:utext="${userInfo.username}"></td>
                        <td><span th:each="role : ${userInfo.roles}">
                            <span th:utext="${role.getName().substring(5)}"></span>
                        </span> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>